# ==========================================
# CONFIGURACOES DE ROTA
# ==========================================
APP_BASE_URL=

# ==========================================
# CONFIGURACOES DO BANCO DE DADOS (LOCAL)
# ==========================================
DB_DRIVER=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_USE_DATABASE_URL=false

# ==========================================
# PRODUCAO OU DOCKER VIA URL COMPLETA
# ==========================================
# DATABASE_URL=mysql://usuario:senha@host:3306/nome_do_banco
# DATABASE_URL=postgres://admin:admin@db:5432/beflow_local?sslmode=disable
